<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lqiuqiu.dao.ContentMapper" >
  <resultMap id="BaseResultMap" type="com.lqiuqiu.entity.Content" >
    <constructor >
      <idArg column="contentId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="contentName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createDate" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    contentId, contentName, content, createDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from content
    where contentId = #{contentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from content
    where contentId = #{contentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lqiuqiu.entity.Content" >
    insert into content (contentId, contentName, content, 
      createDate)
    values (#{contentid,jdbcType=INTEGER}, #{contentname,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lqiuqiu.entity.Content" >
    insert into content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contentid != null" >
        contentId,
      </if>
      <if test="contentname != null" >
        contentName,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contentid != null" >
        #{contentid,jdbcType=INTEGER},
      </if>
      <if test="contentname != null" >
        #{contentname,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lqiuqiu.entity.Content" >
    update content
    <set >
      <if test="contentname != null" >
        contentName = #{contentname,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=VARCHAR},
      </if>
    </set>
    where contentId = #{contentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lqiuqiu.entity.Content" >
    update content
    set contentName = #{contentname,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=VARCHAR}
    where contentId = #{contentid,jdbcType=INTEGER}
  </update>
</mapper>